use nix

watch_file nixpkgs-overlay/*

# Link all Nix PATH entries in .bin for easier editor support
mkdir -p .bin
pushd .bin
  find . -type l -lname '/nix/*' -delete
  IFS=':' read -ra PATHS <<< "$PATH"
  for p in "${PATHS[@]}"; do
    find $p -maxdepth 1 -type f -path /nix/\* -exec ln -sf '{}' \;
  done
popd
PATH_add .bin

if [ -e .envrc-local ]; then
  echo direnv: loading .envrc-local
  source .envrc-local
fi
