if which -s lorri; then
  eval "$(lorri direnv)"
else
  use nix
  watch_file nixpkgs-overlay/*
fi

# Link all Nix PATH entries in .bin for easier editor support
rm -f .bin
ln -s $symlinks/bin .bin
PATH_add .bin
unset symlinks

if [ -e .envrc-local ]; then
  echo direnv: loading .envrc-local
  source .envrc-local
fi
